sphinx>=7.3.0               # 最低 7.3.0 已移除对 imghdr 的依赖
sphinx_rtd_theme>=2.0.0
myst-parser>=2.0.0          # 升级至最新，以配合新 Sphinx
sphinx-copybutton>=0.5.2
sphinx_markdown_tables>=0.0.17
docutils>=0.19              # 移除固定版本，避免约束 Sphinx 升级
markdown>=3.4.0
urllib3<2.0.0